html,body{width: 100%; margin: 0; padding: 0;}
.wrap{margin: 0 auto; max-width: 1280px; width: 85%;}
.wrap_else{margin: 0 auto; max-width: 1440px; width: 90%;}
p, h1, h2, h3, h4, h5{-webkit-margin-before: 0; -webkit-margin-after: 0; margin: 0; padding: 0;}

@font-face{font-family: CrimsonText-Regular; src: url(fonts/CrimsonText-Regular.ttf), url(fonts/gilroyextrabold-webfont.woff) format('woff');}
@font-face{font-family: TradeWinds-Regular; src: url(fonts/TradeWinds-Regular.ttf), url(fonts/gilroylight-webfont.woff) format('woff');}
@font-face{font-family: SpectralSC-Regular; src: url(fonts/SpectralSC-Regular.ttf), url(fonts/gilroylight-webfont.woff) format('woff');}
@font-face{font-family: SpecialElite-Regular; src: url(fonts/SpecialElite-Regular.ttf), url(fonts/gilroylight-webfont.woff) format('woff');}

*::selection{background-color: rgba(72,68,74,.6);}

body{
	font-family: "SpectralSC-Regular";
	font-size: 30px;
	line-height: 35px;
    color: #48444A;
    overflow-x: hidden;
	background-image: url(img/body_pattern_bg.jpg);
	text-align: center;
}
body > section, footer{float: left; width: 100%;}
a{font-family: "CrimsonText-Regular"; text-decoration: none; color: #48444A;}
h1, h2{
	font-family: "TradeWinds-Regular";
	font-size: 80px;
	line-height: 100px;
	padding: 30px 0;
	text-shadow: 5px 5px 15px rgba(0,0,0,.35);
}

section.promo{
	background: url(), #325DB9;
}